.App {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.chatbot {
  position: absolute;
  bottom: 1rem;
  right: 2.4rem;
  background: #fff;
  border-radius: 10px 0 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
